
@media screen and (max-width: 1630px) {

    .head-title-1 {
         font-size: 106px;
         line-height: 125px;
         letter-spacing: -3px;

    }
}
/* ----------------------between 901px and 1279px----------- */

@media only screen and (min-width: 901px) and  (max-width: 1279px) {
    .head-title-1{
        font-size: 97px;
        line-height: 107px;
    }
    .head-title-2{
        font-size: 25px;
    }

    header{
        justify-content: space-between;
    }
}

/* ----------------------between 768px to 1279px-----------------  */

@media only screen and (min-width: 768px) and (max-width: 1279px) {

    .nav-logo img {
        width: 40px;
        height: 53px;
    }

    header {
        padding: 60px 50px 100px;
    }

}

/* ---------------------------------------------------------------------- */


@media only screen and (min-width: 768px) and (max-width: 900px){

    .head-title-1{
        font-size: 82px;
        line-height: 92px;
    }

    .head-title-2 {
        font-size: 25px;
    }

    header {
        justify-content: space-between;
    }
}
/* --------------------------------------- */

@media only screen  and (max-width: 767px){

    .nav-links {
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(15, 15, 15);
        position: absolute;
        width: 100%;
        height: 183vh; 
        transform: translateY(-100%);
        left: 0;
        padding-top: 291px;
        gap: 40px;
        transition: 0.5s ease-in-out;
        
    } 

    input:checked ~ .nav .nav-links{
        transform: translateY(0%);
        transition: 0.5s ease-in-out;
        
        }

    input:checked ~ body {
        overflow-y: hidden;
    }

    .links-btn{
        background-color: rgb(25, 27,28);
        height: 60px;
        width: 90vw;
        border-radius: 16px ;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }




}

@media only screen and (min-width: 481px) and (max-width: 767px) {
   
    .nav-logo img{
        width: 40px;
        height: 53px;
    }    

    header {
        padding: 60px;
        background-image: url(images/hero-bg-mobile.jpeg);
        justify-content: space-between;
    }

    .title-section {
        align-items: flex-start;
    }
    
   
           
        
/* 
    .nav-links a{
        display: none;

    } */

    .nav-breadcrumbs {
        display: block;
    }


    .nav-breadcrumbs span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
            
    }

    .head-title-1 {
        font-size: 65px;
        letter-spacing: -1.65px;
        line-height: 55px;
        text-align: left;
        /* white-space: inherit; */
        width: 340px;
    }


    .head-title-2{
        font-size: 19px;
        letter-spacing: 0px;
        line-height: 24px;
        white-space: pre-line;
        width: 320px;
        text-align: left;
    }

    .head-title-3{
        margin-top: 35px;
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding: 16px 28px;
        cursor: none;} 
    }

@media screen and (max-width: 480px) {

    .nav-logo img {
        width: 40px;
        height: 53px;

    }
    header {
        padding: 60px 40px 70px;
        background-image: url(images/hero-bg-mobile.jpeg);
        justify-content: space-between;
    }
    .title-section{
        align-items: flex-start;
    }


    .head-title-1{
        font-size: 55px;
        letter-spacing: -1.65px;
        line-height: 47.5px;
        text-align: left;
        white-space: inherit;
        width: 270px;
    }

    .head-title-2{
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 22px;
        white-space: pre-line;
        width: 270px;
        text-align: left;
    }

    .head-title-3{font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding: 16px 24px;
        cursor: none;
        margin-top: 35px;
    }


    /* .links a {
        display: none;
            
    } */

    .nav-breadcrumbs {
        display: block;
    }


    .nav-breadcrumbs span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;


    }

                
}

@media screen and (max-width: 290px){
    .head-title-1 {
            font-size: 30px;
            
        }
    .head-title-2 {
                    font-size: 12px;
                    
    }

}

/* header section ended ---------------------------------------------------------*/
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ */


@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .mob-images{
        width: 300px;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .second-section{
        height: 620px;
    }
    
}


@media only screen and (min-width: 481px) and (max-width: 767px) {
    .second-section{
        height: 580px;
    }

    .mob-images {
        width: 270px;
    }
   
}


@media screen and (max-width: 480px) {
    .second-section{
        height : 450px;
        background-image: url(images/mobile-background-mob.webp);

    }

    .mob-images {
        width: 170px;
    }
    
}

/* -------------feel special section--------------------------------- --------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .third-section{
        padding: 100px;
        background-position: center bottom;

    }
    .main-title-third-fourth{
        white-space: initial;
        max-width: 670px;
    }

}


@media only screen and (min-width: 481px) and (max-width: 767px) {
   .third-section{
        background-position: center center;
        padding: 195px 60px 90px;
   } 

   .fourth-section{
    min-height: 1280px;
    justify-content: flex-end;
   }

   .main-title-third-fourth {
        font-size: 85px;
        line-height: 75px;
        max-width: 80%;
   }

   .sub-third-fourth {
       font-size: 24px;
       line-height: 34px;
   }

   .desc-third-fourth {
        font-size: 16px;
        line-height: 22px;

   }
   .button-third-fourth{
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding: 16px 28px;
        cursor: none;
   }
       
}


@media screen and (max-width: 767px) {
    .third-section{
        background-image: url(images/deserve-more-bg-mobile.webp);
        padding: 195px 40px 90px;
        min-height: 1150px;
        background-position: right center;
    }  

    .fourth-section{
        background-image: url(images/money-matters-bg-mobile.webp);
        min-height: 1350px;
        justify-content: end;
    }

    .desc-third-fourth {
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 20px;

    }

    
}

@media screen and (max-width: 480px){

    .main-title-third-fourth {
        font-size: 65px;
        letter-spacing: -1.95px;
        line-height: 58px;
    }

    .sub-third-fourth {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 24px;
        margin-top: 26px;
    }

    .button-third-fourth {
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding: 16px 24px;
        cursor: none;
    }



}


/* --------------------------ad- section----------------------------------- */



@media only screen and (min-width: 768px) and (max-width: 1279px)  {
    .ad-section{
        padding: 60px 100px ;
    }    
}


    

@media only screen and (max-width: 767px) {
    .ad-logos{
        background-image: url(images/brands-mobile-mob.png);
        background-size: contain;
        height: 240px;
        margin-top: 35px;
        background-position: left center;
    }

    .ad-quote {
        font-size: 18px;
        letter-spacing: -0.11px;
        line-height: 18px;
        opacity: 0.9;
    }
}
   


@media only screen and (min-width: 480px) and (max-width: 767px) {
    .ad-section{
        padding: 60px;
     }
     .ad-quote{
        font-size: 22px;
     }
         
}


@media only screen and (max-width: 480px) {
    .ad-section{
        padding: 60px 40px;
    } 
}


/* ------------------5th section------------------ */

/* @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .fifth-section {
        padding: 60px 100px 100px;
}

    .fifth-section-left-heading{
        font-size: 70px;
        line-height: 70px;
}

    .section-4-right-placeholder{
        width: 272px;
        height: 480px;
}

    .section-4-right-placeholder  img{
        width: 272px;
        height: 480px;
       
}

}

@media screen and (max-width: 767px)  {
    .fifth-section {
        display:none;
        }
} */


/* 
-----------------6th section-------------- */


@media only screen and (min-width: 768px) and (max-width: 1279px){
    .sixth-section{
        padding: 100px;
        background-position: center bottom;
    }

    .sixth-main-title{
        white-space: initial;
        max-width: 670px;
    }
           
    
}

@media screen and (max-width: 767px) {
    .sixth-section {
        background-image: url(images/security-bg-mobile.webp);
        padding: 195px 40px 90px;
        min-height: 1150px;
        background-position: right center;
    }

    .sixth-description{
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 20px;
    }

}



@media only screen and (min-width: 481px) and (max-width: 767px)  {
    .sixth-section {
        background-position: center center;
        padding: 195px 60px 90px;
    }


    .sixth-main-title {
        font-size: 85px;
        line-height: 75px;
        max-width: 80%;
    }

    .sixth-sub-title {
        font-size: 24px;
        line-height: 34px;
   
    }

   .sixth-description {
        font-size: 16px;
        line-height: 22px;
    }

   .sixth-button {
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding: 16px 28px;
        cursor: none;
    }
}

@media screen and (max-width: 480px) {

    .sixth-main-title{
        font-size: 65px;
        letter-spacing: -1.95px;
        line-height: 58px;
    }

   .sixth-sub-title {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 24px;
        margin-top: 26px;

   }

    .sixth-button {
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding: 16px 24px;
        cursor: none;
    }
    
}


/* ------------------footer-------------------- */
@media screen and (max-width: 1279px) {
    .left-f-title{
        line-height: 22px;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1279px) {
    .left-f-desc{
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
        margin-bottom: 50px;
    }
    .footer-bot-left div{
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .right-f-title>div:nth-child(1) {
        font-size: 12px;
        letter-spacing: 0.5px;
       
    }
    .right-f-links a {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
        
    }
    .footer-bot-right a {
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        .footer-bot-right a{
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 23px;
    }
                   
}
    



@media screen and (max-width: 767px) {
   footer{
        padding: 70px 30px;
        display: block;
   } 
}


@media only screen and (min-width: 481px) and (max-width: 1279px) {
    footer{
        padding: 100px 60px;
    }

   .left-footer img:nth-child(2){
        margin-top: 70px;
        margin-bottom: 25px;
        width: 290px;
   }
   
    
}
    
@media screen and (max-width: 480px) {
    .left-footer img:nth-child(1){
        width: 70px;
    }

    .left-footer img:nth-child(2) {
        margin-top: 50px;
        margin-bottom: 20px;
        width: 250px;
    }

    .right-footer{
        grid-template-columns: 1fr;
    }  
    
    .right-footer>div {
        margin-bottom: 5px;
        border-top: 0.5px solid rgb(255, 255, 255);
        padding-top: 15px
    }
    .right-f-title div:nth-child(2) img {
        display: inline;
    }
        
    
}

@media screen and (min-width: 481px) {

    .right-f-title div:nth-child(2) img{
        display: none;
}
}
