
@media screen and (max-width: 1630px) {

.head-title-1 {
    font-size: 106px;
    line-height: 125px;
    letter-spacing: -3px;

}
}
/* -------------------------------------------------------------- */

@media only screen and (min-width: 901px) and (max-width: 1279px) {
    .head-title-1{
    font-size: 97px;
    line-height: 107px;
}
    .head-title-2{
    font-size: 25px;
}


header{
    justify-content: space-between;
}




}

/* ----------------------between 768px to 1279px-----------------  */

@media only screen and (min-width: 768px) and (max-width: 1279px) {

    .nav-logo img {
            width: 40px;
            height: 53px;
         }

    header {
             padding: 60px 50px 100px;
        }

}

/* ---------------------------------------------------------------------- */


@media only screen and (min-width: 768px) and (max-width: 900px){

    .head-title-1{
        font-size: 82px;
        line-height: 92px;
}

 .head-title-2 {
     font-size: 25px;
 }

header {
    justify-content: space-between;
}
}


/* ----------------------between 481px to 767px----------------- */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .nav-logo img{
             width: 40px;
            height: 53px;
         } 

    header {
            padding: 60px;
            background-image: url(images/hero-bg-mobile.jpeg);
            }
        

    .nav-links a{
            display: none;

        }

    .nav-breadcrumbs {
            display: block;
        
            }
                        
    }



/* --------------------below--480px----------------- */
@media screen and (max-width: 480px) {

    .nav-logo img {
            width: 40px;
            height: 53px;
    
        }
    header {
            padding: 60px 40px 70px;
            background-image: url(images/hero-bg-mobile.jpeg);
                }


    .links a {
            display: none;
                
                }

    .nav-breadcrumbs {
            display: block;
                
                }

                
}