

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Gilroy-Bold ☞';
    background-color: rgb(15, 15, 15);
    overflow-y: visible;
    overflow-x:hidden;
    
    

} 


header{
    color: rgb(248,248,248);
    background-image: url(images/hero-bg.jpeg);
    background-color: rgb(15, 15, 15);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 60px 200px 200px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 60px 200px 200px;
    justify-content: space-between;
   
}

.nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
}
.nav-logo{
        display: flex;
        align-items: center;
}
.nav-logo img{
        width: 49px;
        height: 66px;
}
/* --------------------unorder list style remove--------------------- */
.nav-links{
    display: flex;
        }

.links{
    padding: 4px 0px;
    position: relative;
   
}


.nav-links a{
    text-decoration: none;
    font-size: 18px;
    margin: 0px 20px 0px 36px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    line-height: 36px;
    white-space: nowrap;
}

.nav-breadcrumbs{
    display: none;

}

/* ----------------nav--bread crumb--------styling--------------------------- */




/* title section styling */
    .title-section{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }


    .head-title-1{
        font-size: 150px;
        letter-spacing: -1;
        text-align: center;
        margin-top: 100px;
        letter-spacing: -4.5px;
        line-height: 150px;
        white-space: pre-line;

    }


    .head-title-2{
            
        font-size: 30px;
        letter-spacing: -0.2px;
        line-height: 38px;
        margin-top: 35px;
        text-align: center;
        white-space: pre-line;
    }

       .head-title-3 {
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        position: relative;
        pointer-events: auto;
        text-align: center;
        padding: 20px 65px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 24px;
        letter-spacing: 0.4px;
        line-height: 30px;
        border-radius: 40px;
        cursor: pointer;
        margin-top: 58px;
       }

/* ------------------------------second section starting------------ */


.second-section{
    width: 100vw;
    height: 800px;
    background-image: url(images/mobile-background.webp);
    background-size: cover;
    background-position: right top;
    overflow: hidden;


}

.top-second-section{
    min-height: 70%;
}
/* -------------mobile images------------- */
.mob-images{
    position: absolute;
    bottom: 0px;
    left: 50%;
}

 .mob-images:nth-child(1){
    transform: translate(-160%, 25%);
    z-index: 98;

}

.mob-images:nth-child(2) {
    transform: translate(-105%, 15%);
    z-index: 99;
}

.mob-images:nth-child(3) {
    transform: translate(-50%, 5%);
    z-index: 100;
}

.mob-images:nth-child(4) {
    transform: translate(5%, 15%);
    z-index: 99;
}

.mob-images:nth-child(5) {
    transform: translate(60%, 25%);
    z-index: 98;
} 

/* --------------------third-section------------------------- */

.third-section{
    background-color: rgb(238, 47, 76);
    color: rgb(248, 248, 248);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 240px 200px 180px;
    background-image: url(images/deserve-more-bg.webp);
    background-size: cover;
    justify-content: space-between;
    
}

.main-title-third-fourth{
    font-size: 100px;
    letter-spacing: -3.15px;
    line-height: 96px;
    white-space: pre-line;
    opacity: 0.9;
    
    
}

.sub-third-fourth {
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 38px;
    white-space: pre-line;
    max-width: 630px;
    margin-top: 16px;
}

.desc-third-fourth{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    white-space: pre-line;
    max-width: 630px;
    margin-bottom: 40px;

}

.button-third-fourth{
           
    
    white-space: nowrap;
    align-items: center;
    pointer-events: auto;
    padding: 20px 65px;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 30px;
    cursor: pointer;

    }  

/* ------------------------------------ad section------------------
------------------------------------------------------------------ */
.ad-section{
    background-color: rgb(248, 248, 248);
    color: rgb(33, 36, 38);
    width: 100vw;
    padding: 60px 200px
    }
.ad-quote{
    font-size: 24px;
    line-height: 38px;
    white-space: pre-line;
    }

.ad-logos{
    background-image: url(images/brands-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 50px;

    margin-top: 50px;
    }


    /* -------------------------------4th money matters section--------------------------- */

.fourth-section{
    background-image: url(images/money-matters-bg.webp);
}